
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato&family=Delius:ital,wght@0,400;0,700;1,400&display=swap');

:root{

    --main-font: "Bradley Hand", calibri, Lato;
}


* {
	margin: 0;
	padding: 0;
}

h1 {text-align: center;}
h2 {font-size: 1.1rem; text-align: center;
color: navy; padding: .5rem 1rem 0;}
nav {
	margin: 0 auto 2rem;
	max-width: 90vw;
}

.modern a {
	flex: 1 1 100%;
}



.navigation {
	list-style: none;
	display: flex;
	background-color: #333;
	align-items: center;
}
.navigation li {
	flex: 1 1 auto; /* difference between auto and 100% flex-basis - turn on link borders to view */
}
.navigation a {
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
/* 	border: 1px dotted cyan; */
}
.navigation a:hover {
	font-weight: 700;
	text-decoration:underline;
	text-decoration-color: #707070;
}

.wrap {
		flex-wrap: wrap;
}

p {
	text-align: center;
	font-size: smaller;
}








body{
    text-align: center;
    font-family: var(--main-font);
    font-size:2em;
}


.parent{
    display:grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

.header-section{
    padding: 2rem;
    grid-column:1/4;
    background-color: #666A86;
    color:ivory;
    

}
.left-side-bar{
    grid-column:1/2;
    background-color: #EDAFB8;
}
.main-area{
    grid-column:2 / 3;
    background-color: #E8DDB5;
}
.right-side-bar{
    grid-column:3/4;
    background-color: #95B8D1;
}
.footer-section{
    grid-column:1/4;
    background-color: #666A86;
    color:ivory;

}