@media (min-width: 982px) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}

	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation_modern {
		flex-direction: row;
	}

	.navigation_modern a {
		display: block;
		flex: 1 1 100%;
	}


    main{
        grid-template-columns: 1fr 1fr 1fr;

    }
}
